
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% load static %}
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/pw.ico' %}">
</head>
<link href="{% static 'styles/register.css' %}" rel="stylesheet">

<body style="background-image: none">
 <nav class="navbar navbar-light" style="background-color: #135375;">
    <div class="container-fluid">
        <img class="img-fluid" src="{% static 'images/logo.png' %}" alt=""
         style="filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(23deg) brightness(135%) contrast(100%); width: 500px;">
        <form class="form-inline pt-3">
            <a class="btn btn-outline-light mr-sm-2  " href="loggedout">Sing Out</a>
        </form>
    </div>
</nav>




<div class="container"  style="text-align: center; max-height: available; padding-bottom: 200px; padding-right: 70px">
    <h2 style="position: center;">add new test</h2>
    <form action="testadded" method="post">
    {% csrf_token %}
        <div id="formContent" style="margin: 60px; padding: 20px; max-width: 1000px;" >
            <div class="input-group mb-3">
                <a href="loggedin" style="padding-bottom: 20px">Go Back To your Dashboard</a>
            </div>
            <div class="input-group mb-3">
                {% if err_msg_addtest %}
                    <p style="color: red; text-align: center;">{{ err_msg_addtest }}</p>
                {% endif %}
                {% if succ_msg %}
                    <p style="color: green;">{{ succ_msg }}</p>
                {% endif %}
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >First Name</span>
              </div>
              <input type="text" name="fname" pattern="[A-Z][a-z]+"
                     title="First name should start with capital letter and should not have numbers or special characters"
                     class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
              </div>
              <input type="text" name="lname" pattern="[A-Z][a-z]+"
                     title="Last name should start with capital letter and should not have numbers or special characters"
                    class="form-control" >
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Phone Number</span>
              </div>
              <input type="number" name="phone" pattern="[1-9][0-9]{9}$" title="Must contain 10 digits"
                     class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Confirm Phone Number</span>
              </div>
              <input type="number" name="cphone" pattern="[1-9][0-9]{9}$" title="Must contain 10 digits"
                     class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Place</span>
              </div>
              <input type="text" name="place" pattern="[A-Za-z]+"
                     title="Place should not have numbers or special characters"
                     class="form-control" required>
            </div>
            <div class="container" style="padding-right:70px; ">
                <input type="submit" style="padding-right: 70px;" class="btn btn-outline-info btn-lg btn-block" value="Add Test Data" />
            </div>
        </div>
    </form>
</div>

<footer class="py-4" style="background-color: #135375; position: fixed">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © PWC 2020</p>
    </div>
</footer>
</body>