<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% load static %}
<link href="{% static 'styles/register.css' %}" rel="stylesheet">

<body style="background-image: none">
     <nav class="navbar navbar-light" style="background-color: #135375;">
        <div class="container-fluid">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt=""
         style="filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(23deg) brightness(135%) contrast(100%); width: 500px;">
            <form class="form-inline pt-3">
                <a class="btn btn-outline-light mr-sm-2  " href="loggedout">Sing Out</a>
            </form>
        </div>
    </nav>

    <div class="container"  style="text-align: center; max-height: available; padding-bottom: 200px;">
        <h2 style="position: center;">View and ban users</h2>
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" method="post" action="banuserbypn">
            {% csrf_token %}
            <div id="formContent" style="margin: 50px;padding: 20px; max-width: 1000px;" >
                <div class="input-group mb-3">
                    <a href="loggedin" style="padding-bottom: 20px">Go Back To your Dashboard</a>
                </div>
                <div class="input-group mb-3">
                    {% if err_msg_viewuser %}
                        <p style="color: red;">{{ err_msg_viewuser }}</p>
                    {% endif %}
                    {% if succ_msg_viewuser %}
                        <p style="color: green;">{{ succ_msg_viewuser }}</p>
                    {% endif %}
                </div>
                <input class="form-control form-control-sm ml-3 w-75" type="number" name="phone" placeholder="Search for mobile number here if you know it exactly.." aria-label="Search">
                <input class="form-control form-control-sm ml-3 w-75" type="text" name="fname" placeholder="Search for first name here.." aria-label="Search">
                <div class="container" style="margin-top: 30px; padding-right: 50px;">
                    <input type="submit" class="btn btn-outline-info btn-lg btn-block" value="Search" />
                </div>
            </div>
        </form>
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" method="post" action="banuserbydate">
            {% csrf_token %}
            <div class="container" style="">
                <h6 style="color: gray;">If you don't remember the name or exact number try this :</h6>
            </div>
            <div class="container" style="padding-right: 50px">
                <input type="submit" class="btn btn-outline-info btn-lg btn-block" value="Search by latest date" />
            </div>
        </form>
        {% block content %}

        {% endblock %}
    </div>

    <footer class="py-4" style="background-color: #135375; position: fixed;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © PWC 2020</p>
        </div>
    </footer>
</body>