
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% load static %}
<link href="{% static 'styles/register.css' %}" rel="stylesheet">
<body background="{% static 'images/bg-home.jpg' %}">
     <nav class="navbar navbar-light" style="background-color: #135375;">
        <div class="container-fluid">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt=""
         style="filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(23deg) brightness(135%) contrast(100%); width: 500px;">

            <form class="form-inline ml-auto pt-3 pr-2">
                <p class="pt-2" style="color: white; font-size: 13px">Don't have a manager account ? Create One </p>
            </form>
            <form class="form-inline pt-3">
                <a class="btn btn-outline-light mr-sm-2  " href="register">Register</a>
            </form>
        </div>
    </nav>


    <div class="wrapper fadeInDown" style="padding-top: 0px; padding-bottom: 10rem;">
      <div id="formContent">
        <h2>Login To Manager account</h2>
        <!-- Login Form -->
        <form method="post" action="loggedin" class="pt-3">
            {% csrf_token %}
            {% if err_msg_login %}
                <p style="color: red;">{{ err_msg_login }}</p>
            {% endif %}
          <input type="text" name="username" class="fadeIn second" name="login" placeholder="Enter User Name" autocomplete="off" required/>
          <input type="password" name="pass" class="fadeIn third" name="login" placeholder="Enter Password" required/>
            <div id="formFooter" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">
               <input type="submit" class="fadeIn fourth" value="Login">
            </div>
        </form>
        </div>
    </div>

    <footer class="py-4" style="background-color: #135375; position: relative; height: 6rem;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © PWC 2020</p>
        </div>
    </footer>

</body>