
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

 <nav class="navbar navbar-light" style="background-color: #135375;">
    <div class="container-fluid">
        <h1 class="text-white">Pentagon Water Consultants</h1>

        <form class="form-inline ml-auto pt-3 pr-2">
            <p class="pt-2" style="color: white; font-size: 13px">Already Have a manager account ? Login </p>
        </form>
        <form class="form-inline pt-3">
            <a class="btn btn-outline-light mr-sm-2  " href="login">Login</a>
        </form>
    </div>
</nav>
{% load static %}
<link href="{% static 'styles/register.css' %}" rel="stylesheet">


<body>
    <!-- content block starts here -->
    <div class="reg-container" style="margin-bottom: 80px;">
        <div class="wrapper fadeInDown">
          <div id="formContent" >
          <h2>Create Manager Account</h2>
            <!-- Login Form -->
            <form method="post" action="reg" class="pt-3">
                {% csrf_token %}
                <ul class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: green;">{{ message }}</p>
                    {% endfor %}
                </ul>
                {% if err_msg %}
                    <p style="color: red">{{ err_msg }}</p>
                {% endif %}
                <input type="password" name="mcode" class="fadeIn first" placeholder="Enter Manager Code" autocomplete="off" required/>
                <input type="text" name="username" class="fadeIn first" placeholder="Enter User Name" autocomplete="off" required/>
                <input type="text" name="firstname" class="fadeIn second" placeholder="Enter Your First Name" autocomplete="off" required/>
                <input type="text" name="lastname" class="fadeIn second" placeholder="Enter Your Last Name" autocomplete="off" required/>
                <input type="password" name="pass" class="fadeIn third" placeholder="Enter Password" required/>
                <input type="password" name="cpw" class="fadeIn third" placeholder="Enter Password Again" required/>
                <div id="formFooter" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">
                   <input type="submit" class="fadeIn fourth" value="Sign Up">
                </div>
            </form>
            </div>
        </div>
    </div>
 <!-- content block ends here -->
<footer class="py-4" style="background-color: #135375; position: relative;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © PWC 2020</p>
        </div>
    <!-- /.container -->
    </footer>
</body>