{% extends "manager/viewuser.html" %}
{% block content %}
<div class="d-flex justify-content-center md-form form-sm mt-0">
    <div id="formContent" style="max-width: 1000px;" >
        <div class="input-group mb-3" style="padding-top: 30px; padding-left:30px ">
            <h5>Your Results are :</h5>
        </div>
        <div class="container">
            <div class="row">
                {% for user in user_obj %}
                    <div class="col-md-6" style="text-align: center;">
                        <div class="formContent" style="margin: 40px; padding: 15px; max-width: 1000px; background-color: #edf7fd; border-radius: 20px; -webkit-box-shadow: 0 10px 6px -6px #cccccc;">
                            <p>Name : {{ user.first_name }}</p>
                            <p>Mobile : {{ user.phone }}</p>
                            <p>Place : {{ user.place }}</p>
                            {% for t in user.test_set.all reversed %}
                                <p>Test Date : {{ t.addeddate }} <br><a href="{{t.id}}/updatetest">View Test</a></p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}