<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/pw.ico' %}">
</head>

<link href="{% static 'styles/register.css' %}" rel="stylesheet">

<body style="background-image: none">
     <nav class="navbar navbar-light" style="background-color: #135375;">
        <div class="container-fluid">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt=""
         style="filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(23deg) brightness(135%) contrast(100%); width: 500px;">
        </div>
    </nav>

    <div class="container"  style="text-align: center; max-height: available; padding-bottom: 300px;">
        <h2 style="position: center;">YOUR TESTS BY LATEST DATE & TIME</h2>
        <div class="d-flex justify-content-center md-form form-sm mt-0">
            <div id="formContent" style="margin:50px; max-width: 1000px; padding: 20px" >
                <p style="margin-top: 30px"><a href="../loggedin">Go Back To your Dashboard</a></p>
                <div class="input-group mb-3">
                    {% if err_msg_mytest %}
                        <p style="color: red;">{{ err_msg_mytest }}</p>
                    {% endif %}
                    {% if succ_msg_mytest %}
                        <p style="color: green;">{{ succ_msg_mytest }}</p>
                    {% endif %}
                </div>

                <div class="container">
                    <div class="row">
                        {% if tests %}
                            {% for t in tests %}
                                <div class="col-md-6" style="text-align: center;">
                                    <div class="formContent" style="margin: 20px; padding: 3px; max-width: 400px; background-color: #edf7fd; border-radius: 20px; -webkit-box-shadow: 0 10px 6px -6px #cccccc;">
                                        <p>Test ID : {{ t.id }} <br> Test Submission Date : {{ t.addeddate }}<br><a href="{{t.id}}/viewtestdetails">View Test Details</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-4" style="background-color: #135375; position: fixed; margin-top: 300px;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © PWC 2020</p>
        </div>
    </footer>
</body>